*{box-sizing: border-box;}
body{background-color: #15181d; margin: auto; }
#c1{width: 90%;margin-left:6%;margin-right:5% ; position: relative; top: 3%;left: 0;}
#l1{width: 12%; top: 1%; left: 10%; position: absolute;}
.nav{display: flex;top: 5%; right:5%;float: right; color: #fffefe; position: absolute;}
.nav a{padding-right: 10px; color: #cec6c6;text-decoration: none;font-weight: bold; }
#search{opacity: 0.5; cursor: pointer; border: none; border-radius: 30px; width: 140px; height: 23px; float: right; }
.nav a:hover{color: white;}
#search:hover{opacity: 1;}
#t1{position: absolute;left: 25%;margin-top:-250px; color: white;font-size: 3rem;}
#b1{margin-top: -50px; position: absolute; cursor: pointer; color: white; background-color: #00c131;width: 400px; height: 40px; left:30%;border-radius: 9px;border: none;font-size: 20px;}
#p1{color: white; margin-left: 25%; font-size: 20px; padding-top: 20px;}
.row1{align-items: center;flex-wrap: wrap; display: flex;  margin-top: 50px; margin-left: 10%;margin-bottom: 50px;}
.col{cursor: pointer; outline: 1px solid white; width: 150px; position: relative;height: 224px; margin-right: 20px;margin-top: 20px;}
.col img{ cursor: pointer; max-width: 100%;border: none;position: relative;z-index: -1;max-height: 100%;}
.col:hover{outline: 3px solid green;}
.col p{cursor: pointer; margin-top: -140%;margin-left: 25px;font-size: 30px;color: white; background-color: #15181d;width: 100px;height: 180px;opacity: 0;}
.col p:hover{opacity: 0.8;}
.row2{align-items: center;flex-wrap: wrap; display: flex; margin-top: 10px; margin-left: 8%; display: flex;}
.col2{width: 331px;height: 90px;background-color: #445566;display: flex;border-radius: 5px; margin-left: 7px;margin-bottom: 7px; color:#99abba}
#i1{width: 50px;height: 50px; font-size: 40px; color: #99abba; margin: 10px;}
#d{margin-top: 10px;font-size: 20px; margin-left: 5px;}
.col2:hover{color: white; background-color: green;}
#i1:hover{color: white;}
#meny{display: none;}
#m1{display: none;font-size: 2rem; right: 1%;top: 5%;position: absolute; color: #00c131;}
@media only screen and (max-width: 930px) {
    #m1{display: none;}
    #meny{display: none;}
    #t1{position: absolute;left: 25%;margin-top:-250px; color: white;font-size: 2rem;}
    .nav a{padding-right: 10px; color: #cec6c6;text-decoration: none;font-weight: bold;font-size: 12px; }
}
@media only screen and (max-width: 750px){
    #m1{display: none;}
    #t1{position: absolute;left: 25%;margin-top:-250px; color: white;font-size: 1.5rem;}
    .nav a{padding-right: 10px; color: #cec6c6;text-decoration: none;font-weight: bold;font-size: 9px; }
    #b1{margin-top: -50px; position: absolute; cursor: pointer; color: white; background-color: #00c131;width: 400px; height: 40px; left:20%;border-radius: 9px;border: none;font-size: 20px;}
    #p1{color: white; margin-left: 15%; font-size: 15px; padding-top: 30px;}
    #meny{display: none;}
}
@media only screen and (max-width: 560px){
    #m1{cursor: pointer;z-index: 2;display: block;font-size: 2rem; right: 1%;top: 5%;position: absolute; color: #00c131;}
.nav{display: none;}
    #meny{display: block;z-index: 1;;top: 5%;left: 200%;float: right; color: #fffefe; position: absolute;width: 100%;}
    #meny a{display: block;;padding-right: 10px; color: #cec6c6;text-decoration: none;font-weight: bold;font-size: 20px;background-color: #15181d; }
    #t1{position: absolute;left: 25%;margin-top:-120px; color: white;font-size: 1.5rem;}
    #b1{margin-top: -20px; position: absolute; cursor: pointer; color: white; background-color: #00c131;width: 300px; height: 40px; left:20%;border-radius: 9px;border: none;font-size: 15px;}
    #p1{color: white; margin-left: 15%; font-size: 15px; padding-top: 30px;}
    #l1{width: 150px; top: 1%; left: 35%; position: absolute;}

}
